<div class="dashboard-tabs-container" data-controller="dashboard-tabs">

  <div class="dashboard-tabs">
    <button class="tab-btn active" data-tab="expenses" data-action="click->dashboard-tabs#call" data-dashboard-tabs-target="tabButton">Expenses</button>
    <button class="tab-btn" data-tab="deductions" data-action="click->dashboard-tabs#call" data-dashboard-tabs-target="tabButton">Deductions</button>
    <button class="tab-btn" data-tab="payouts" data-action="click->dashboard-tabs#call" data-dashboard-tabs-target="tabButton">Payouts</button>
  </div>


  <div class="dashboard-filters">

    <select class="form-select form-select-md">
      <option value="">All Statuses</option>
      <option value="pending">Pending</option>
      <option value="approved">Approved</option>
      <option value="rejected">Rejected</option>
      <option value="rejected">Paid</option>
    </select>

    <select class="form-select form-select-md">
      <option value="">All Employees</option>
      <% @organisation.employees.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select>

    <select class="form-select form-select-md">
      <option value="">All Categories</option>
    </select>

    <div class="search-bar-set">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="text" class="search-bar form-control form-control-md" placeholder="Search all expenses..." />
    </div>

  </div>


  <div class="expenses-panels">

    <div class="tab-panel active" id="expenses-panel" data-dashboard-tabs-target="tabPane">
      <%= render "expenses/list_all", expenses: @organisation.expenses %>
    </div>

    <div class="tab-panel" id="deductions-panel" data-dashboard-tabs-target="tabPane">
      <%= render "expenses/deductions", expenses: @organisation.expenses %>
    </div>

    <div class="tab-panel" id="payouts-panel" data-dashboard-tabs-target="tabPane">
     <%= render "expenses/payouts", expenses: @organisation.expenses %>
    </div>

  </div>

</div
