<div class='landing-container'>

  <div class="grid-bg"></div>

  <div class='hero-box'>

    <div class='hero-text-box'>
      <div class='landing-title'>
        Expenses
        <span class='gradient-test'>Reimagined</span>
      </div>

      <div class='landing-subtitle'>
        Reimbursements + Deductions for Small Businesses made Magically Easy by AI
      </div>
    </div>

    <div class='app-screenshots'>
      <%= image_tag "reduckt-devices-ok.png", alt: "app-screenshots" %>
    </div>

  </div>

  <div class='landing-spacer' id='features'></div>

  <section class="features-section">

    <h2 class="features-section-title">ReDuckt Features</h2>

    <div class="features-grid">
      <div class="feature-box">
        <h3 class="feature-title">Expense + Reimburse</h3>
        <div class="feature-illustration">
          <%= image_tag "duck-lunch.png", alt: "ducks at lunch" %>
        </div>
        <p class="feature-description">
          Automatic expense creation & management with OCR, voice-to-text, and multi modal AI
        </p>
      </div>

      <div class="feature-box">
        <h3 class="feature-title">Unlock Deductions</h3>
        <div class="feature-illustration">
          <%= image_tag "duck-savvy.png", alt: "duck business savvy" %>
        </div>
        <p class="feature-description">
          AI categeorization of valid deductable expenses for tax savings, based on your type of business.
        </p>
      </div>

      <div class="feature-box">
        <h3 class="feature-title">Organisation Insights</h3>
        <div class="feature-illustration">
          <%= image_tag "duck-ceo.png", alt: "duck leading meeeting" %>
        </div>
        <p class="feature-description">
          AI-powered insights for tracking employee spending, spending categories, and more.
        </p>
      </div>
    </div>
  </section>

  <div class='landing-spacer' id='for-employees'></div>

  <div class='mobile-app-section'>

    <div class='mobile-app-title-box'>
      <div>Equip your Employees</div>
      <p>Let them snap a receipt, dictate, or upload a file—that's it, we take care of the rest</p>
    </div>

    <div class='mobile-app-content'>
      <div class='mobile-app-imgs'>
        <%= image_tag "mobile-1-better.png", alt: "mobile-screenshot1" %>
        <%= image_tag "mobile-2-better.png", alt: "mobile-screenshot2" %>
      </div>

      <div class='mobile-app-vid'>
        <video autoplay muted loop playsinline>
          <source src="duck-app-test.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <%= image_tag "app-store-btn2.png", alt: "app-btns", style: "height:60px;opacity:.9;cursor:pointer;" %>

    <%= image_tag "test-arrow-fun2.png", alt: "arrow", style:"height:400px;margin-top:-10px;" %>

  </div>

  <div class='landing-spacer' id='pricing-section'></div>

  <%= render "landing/pricing" %>

  <div class='landing-spacer'></div>

  <%= render "landing/footer" %>


</div>
